<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CummulativeTestSeries</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TpoServlet</display-name>
    <servlet-name>TpoServlet</servlet-name>
    <servlet-class>com.training.servlet.TpoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TpoServlet</servlet-name>
    <url-pattern>/TpoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentServlet</display-name>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>com.training.servlet.StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/StudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUploadServlet</display-name>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>com.training.servlet.FileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/FileUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileDownloadServlet</display-name>
    <servlet-name>FileDownloadServlet</servlet-name>
    <servlet-class>com.training.servlet.FileDownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileDownloadServlet</servlet-name>
    <url-pattern>/FileDownloadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.training.servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlumniServlet</display-name>
    <servlet-name>AlumniServlet</servlet-name>
    <servlet-class>com.training.servlet.AlumniServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlumniServlet</servlet-name>
    <url-pattern>/AlumniServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacultyServlet</display-name>
    <servlet-name>FacultyServlet</servlet-name>
    <servlet-class>com.training.servlet.FacultyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyServlet</servlet-name>
    <url-pattern>/FacultyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadFile</display-name>
    <servlet-name>DownloadFile</servlet-name>
    <servlet-class>com.training.servlet.DownloadFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadFile</servlet-name>
    <url-pattern>/DownloadFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationServlet</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>com.training.servlet.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadNotes</display-name>
    <servlet-name>UploadNotes</servlet-name>
    <servlet-class>com.training.servlet.UploadNotes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadNotes</servlet-name>
    <url-pattern>/UploadNotes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadNotes</display-name>
    <servlet-name>DownloadNotes</servlet-name>
    <servlet-class>com.training.servlet.DownloadNotes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadNotes</servlet-name>
    <url-pattern>/DownloadNotes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlumServlet</display-name>
    <servlet-name>AlumServlet</servlet-name>
    <servlet-class>com.training.servlet.AlumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlumServlet</servlet-name>
    <url-pattern>/AlumServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.training.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidationServlet</display-name>
    <servlet-name>ValidationServlet</servlet-name>
    <servlet-class>com.training.servlet.ValidationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidationServlet</servlet-name>
    <url-pattern>/ValidationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForeignstudiesServlet</display-name>
    <servlet-name>ForeignstudiesServlet</servlet-name>
    <servlet-class>com.training.servlet.ForeignstudiesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForeignstudiesServlet</servlet-name>
    <url-pattern>/ForeignstudiesServlet</url-pattern>
  </servlet-mapping>
</web-app>